@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --transition: all 300ms ease-in-out;
    --darkcolor: #332e29;
    --lightcolor: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: var(--darkcolor);
}

.vh-100 {
    min-height: 100vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}

.py-7 {
    padding: 7rem 0;
}

button,
.btn {
    cursor: pointer;
    border: none;
    background: transparent;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr repeat(2, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 1rem;
}

img {
    width: 100%;
    display: block;
}

.lead {
    opacity: 0.8;
    /* opacity: 1; */
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}


/* header */

#header {
    /* background: url("../images/header-banner.jpg") center/cover no-repeat fixed; */
    background: url("../images/header-banner.jpg") center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}

#header .container {
    width: 100%;
}

.header-content {
    padding-bottom: 4rem;
}

.header-content h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--lightcolor);
}

.header-content h3 {
    color: var(--lightcolor);
    margin-top: 1.5rem;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.social-media {
    display: flex;
    margin-top: 3.5rem;
}

.social-media li a {
    width: 40px;
    height: 40px;
    background-color: var(--lightcolor);
    margin-right: 1rem;
    border-radius: .3rem;
    transition: var(--transition);
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
}

.social-media li a:hover {
    opacity: 0.9;
}


/* about section design */

.about-left {
    height: 480px;
    margin-bottom: 4rem;
    overflow: hidden;
    border-radius: 15px;
}

.btn-down {
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}

.btn-down:hover {
    opacity: 0.8;
    transform: translateY(5px);
}

.title {
    margin-bottom: 5rem;
}

.title h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}

.title h2::after {
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--darkcolor);
}

#work {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/work-pic.jpg') center/cover no-repeat fixed;
    color: var(--light-color);
}

#work .title h2,
#work h3 {
    color: var(--lightcolor);
}

.work-bottom {
    text-align: center;
    margin-top: 4rem;
}

.work-bottom>div .icon img {
    width: 50px;
    margin: 0 auto 1.7rem auto;
}

#work .title h2::after {
    background: var(--light-color);
}

#work .container .lead {
    color: var(--lightcolor);
}

.portfolio-grid>div {
    transition: var(--transition);
}

.portfolio-grid>div:hover {
    transform: scale(0.9);
}

.portfolio-grid>div {
    height: 500px;
    overflow: hidden;
}

.portfolio-grid>div img {
    height: 100%;
    object-fit: cover;
}


/* .contact-content {
    flex-direction: column;
    align-items: stretch;
} */

#contact {
    background-color: rgb(248, 248, 248);
}

.contact-left {
    margin-bottom: 5rem;
    width: 50%;
}

.contact-left .lead {
    padding: 0.5rem;
}

.contact-left form {
    margin-top: 3rem;
}

.contact-left .form-control {
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
}

.contact-left .form-control::placeholder {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-left .btn-submit {
    padding: 1.4rem 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--darkcolor);
    color: var(--lightcolor);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
}

.contact-left .btn-submit:hover {
    background: #000;
}

.contact-right {
    margin-left: 3rem;
    width: 50%;
}

.contact-right img {
    border-radius: 15px;
}

.contact-right img:hover {
    transform: scale(0.9);
}

#insta {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/insta-pic.jpg') center/cover no-repeat fixed;
    min-height: 65vh;
}

.insta-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#insta .title h2 {
    color: var(--lightcolor);
}

#insta .title h2::after {
    background-color: var(--lightcolor);
}

.insta-grid>div {
    height: 400px;
    overflow: hidden;
    transition: var(--transition);
}

.insta-grid>div img {
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.insta-grid>div :hover {
    transform: scale(0.9);
    transition: var(--transition);
}

#footer {
    background-color: var(--darkcolor);
    color: var(--lightcolor);
}

.footer-content {
    text-align: center;
}

.footer-content h3 {
    color: var(--lightcolor);
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.footer-content ul {
    flex-direction: row;
}

.footer-content ul li a:hover {
    opacity: 0.7;
}

.footer-content ul li a {
    color: var(--lightcolor);
    font-size: 1.5rem;
    transition: var(--transition);
}

.footer-content ul li {
    margin: .5rem 1rem;
}

.footer-content>div:first-child {
    margin-bottom: 3rem;
}

.footerimg {
    width: 100px;
    height: 100px;
    margin: 5rem auto;
    overflow: hidden;
    border-radius: 50%;
}

@media(min-width: 768px) {
    .contact-right {
        padding-left: 3rem;
        width: 50%;
    }
}